

.shelf {
  background-color: #999dd6;
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 300px; /* tamaño fijo controlado */
  box-sizing: border-box;
}

.shelf h2 {
    color: #292626;
    margin-top: 12px; /* 123 no es válido */
}

.shelf ul {
    list-style: none;
    padding: 0;
}

.shelf li {
    padding: 5px 0;
    border-bottom: 1px dashed #131010;
}

.shelf li:last-child {
    border-bottom: none;
}

.values {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 20px; /* espacio entre tarjetas */
  padding: 40px 20px;
  justify-items: center; /* centra las tarjetas dentro de cada celda */
}

.values__container {
  grid-column: 1 / -1; /* hace que el h1 ocupe todo el ancho */
  text-align: center;
  margin-bottom: 20px;
}

.values__container {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}




@media (max-width: 480px) {
    .shelf {
        width: 10%; 
    }
}
