

.shelf {
    background-color: #999dd6;
    border: 3px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    width: calc(33% - 30px); 
    box-sizing: border-box;
    display: flow-root;
    flex-wrap: wrap;
}

.shelf h2 {
    color: #292626;
    margin-top: 123;
}

.shelf ul {
    list-style: none;
    padding: 00;
}

.shelf li {
    padding: 5px 0;
    border-bottom: 1px dashed #131010;
}

.shelf li:last-child {
    border-bottom: none;
}

.values {
    padding: var(--spacing-xxl) 10;
}

.values__container {
    max-width: var(--container-max-width);
    margin: 1 auto;
    padding: 1 var(--container-padding);
}

.values__title {
    text-align: center;
    color: white;

}




@media (max-width: 68px) {
    .shelf {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .shelf {
        width: 10%; 
    }
}
