.values {
    padding: var(--spacing-xxl) 10;
}

.values__container {
    margin: 10px auto;
    padding: 10px;
}

.values__title {
    text-align: center;
    color: white;

}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
    /* Elimina el borde al enfocar */
}


.values__grid {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0 30px;
    gap: var(--spacing-lg);
    justify-content: center;
    margin-bottom: 40px;
}

.value__image {
    display: block;
    margin: 0 auto;
}


.value {
    position: relative;
    /* Necesario para posicionar el botón */
    height: 300px;
    /* Ajusta según lo que necesites */
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.value:hover {
    transform: translateY(-5px);
    background-color: #eec1e4;

}




.value__title {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: var(--spacing-sm);

}

.value__text {
    color: var(--text-medium);
    text-align: center;
    font-size: 16px;




}

/* Estilo y posición para el botón */
.button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.button:hover {
    background: #ff7cbf;
}